.management-paper {
  padding: 10px;
  height: 40vh;
  width: 80%;
  margin: 10px auto;
}
.button-management,
.button-password {
  margin-top: 10px !important;
  width: 20% !important;
  color: #fff !important;
  background-color: #7f5ef5 !important;
}
.button-password {
  margin-bottom: 20px !important;
  margin-top: 0 !important;
}

@media (max-width: 550px) {
  .button-password {
    width: 25% !important;
  }
}
@media (min-width: 380px) {
  .management-paper {
    padding: 10px;
    height: 30vh;
    width: 80%;
    margin: 10px auto;
  }
}
