.footer-container {
  width: "100%" !important;
  min-height: 100px !important;
  border-top: 0.6px solid rgb(0, 0, 0, 0.3) !important;
  display: flex !important;
  max-width: 100% !important;
}

.footer-title {
  text-align: center;
  font-size: 14px !important;
}

.typography {
  font-weight: 600 !important;
  margin-right: 10px !important;
}

.border-footer {
  color: #a3a3a3 !important;
  width: 100% !important;
  min-height: 100px !important;
  border-top: 0.6px solid rgb(0, 0, 0, 0.3) !important;
  display: flex !important;
  max-width: 95% !important;
}

.icons {
  width: 25px !important;
  height: 25px !important;
}

/* sm */
@media (min-width: 576px) {
  .footer-title {
    text-align: left;
    font-size: 20px !important;
  }
}
/* md */
@media (min-width: 768px) {
  .icons {
    width: 32px !important;
    height: 32px !important;
  }
}
