.footer-container {
  width: "100%" !important;
  min-height: 100px !important;
  border-top: 0.6px solid rgb(0, 0, 0, 0.3) !important;
  display: flex !important;
  max-width: 100% !important;
}

.typography {
  font-weight: 600 !important;
  margin-right: 10px !important;
}

.border-footer {
  color: #a3a3a3 !important;
  width: 100% !important;
  min-height: 100px !important;
  border-top: 0.6px solid rgb(0, 0, 0, 0.3) !important;
  display: flex !important;
  max-width: 95% !important;
}

.icons {
  width: 32px !important;
  height: 32px !important;
}
