.managementContainer {
  margin: 40px auto;
  min-height: 600px !important;
  width: 90% !important;
}
.managementTitle {
  text-align: center;
  border-bottom: 1px solid black;
}

.gridContainer {
  text-align: center;
  flex: 1;
  justify-content: space-evenly;
}

.mask {
  filter: grayscale(100%) !important;
  width: 100%;
  height: auto;
}

.mask:hover {
  filter: grayscale(0%) !important;
}

@media (min-width: 1200px) {
  .css-s6pnig-MuiGrid-root {
    max-width: 50% !important;
    flex-basis: 29% !important;
  }
}

@media (max-width: 620px) {
  .css-s6pnig-MuiGrid-root {
    max-width: 100% !important;
    flex-basis: 70% !important;
  }
}

@media (min-width: 1200px) {
  .css-s6pnig-MuiGrid-root {
    max-width: 50% !important;
    flex-basis: 29% !important;
  }
}

@media (min-width: 1490px) {
  .css-s6pnig-MuiGrid-root {
    max-width: 30% !important;
    flex-basis: 27% !important;
  }
}

@media (min-width: 1700px) {
  .css-s6pnig-MuiGrid-root {
    max-width: 30% !important;
    flex-basis: 22% !important;
  }
}
