.header {
  font-weight: 600 !important;
}
.border {
  border-bottom: 1px solid black !important;
}
.title {
  text-align: center;
  margin: 20px auto !important;
  font-size: 35px !important;
  font-weight: 500;
}

.row:hover {
  background-color: rgb(0 0 0 / 24%) !important;
}

.floorSelect {
  display: flex !important;
}

.laboratoryContainer {
  width: 90% !important;
  margin: 20px auto !important;
}

/* md */
@media (min-width: 768px) {
  .title {
    font-size: 50px !important;
  }
  .laboratoryContainer {
    width: 80% !important;
  }
}
