.signin-paper {
  padding: 20px;
  height: 55vh;
  width: 400px;
  margin: 20px auto;
}

@media (min-width: 1920px) {
  .signin-paper {
    padding: 20px;
    height: 35vh;
    width: 400px;
    margin: 20px auto;
  }
}

.avatar-color {
  background-color: #7f5ef5 !important;
}

.sign-button {
  color: #fff !important;
  background-color: #7f5ef5 !important;
}

.sign-button:hover {
  background-color: #987ef7 !important;
}

.link-color {
  color: blue;
}
