.signup-paper {
  padding: 10px;
  height: 100vh;
  width: 80%;
  margin: 10px auto;
}

@media (min-width: 450px) {
  .signup-paper {
    padding: 10px;
    height: 100vh;
    width: 400px;
    margin: 10px auto;
  }
}

@media (min-width: 1920px) {
  .signup-paper {
    padding: 20px;
    height: 75vh;
    width: 400px;
    margin: 20px auto;
  }
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  height: 60px !important;
}

.css-1d1r5q-MuiFormHelperText-root {
  color: red !important;
}

.avatar-color {
  background-color: #7f5ef5 !important;
}

.sign-button {
  color: #fff !important;
  background-color: #7f5ef5 !important;
}

.sign-button:hover {
  background-color: #987ef7 !important;
}
.signin {
  margin-top: 2% !important;
}

.link-color {
  color: blue;
}
